.env
# Common junk files
__pycache__/
.DS_Store
*.log
*.sqlite3
*.safetensors

# Virtual environment folder (Python)
venv/
rag_env/

# FAISS and large data folders
rag/Training Module Files/
Training Module Files/
